In [1]:
#librerias

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [2]:
#Conectar el motor al archivo de la base de datos a usar
engine = create_engine('sqlite:///chinook.db')
engine

Engine(sqlite:///chinook.db)

# Extract

In [3]:


metadata = MetaData()

# This method instantiates the tables that already 
# exist in the database, which the engine is connected to. 
metadata.create_all(engine)

# Checking this out, we can see the table structure and variable types for the employees table
inspector = inspect(engine)

# Checked out the columns in the employees table
inspector.get_columns('customers')



#Revisé las columnas en la tabla de Customers

[{'name': 'CustomerId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'FirstName',
  'type': NVARCHAR(length=40),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'LastName',
  'type': NVARCHAR(length=20),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Company',
  'type': NVARCHAR(length=80),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Address',
  'type': NVARCHAR(length=70),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'City',
  'type': NVARCHAR(length=40),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'State',
  'type': NVARCHAR(length=40),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Country',
  'type': NVARCHAR(length=40),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PostalCode',
  'type': NVARCHAR(length=10),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Phone',
  'type': NVARCHAR(length=24),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Fax',
  'type': NVARCHAR(length=24),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Email',
  'type': NVARCHAR(length=60),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'SupportRepId',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

# Transform

In [4]:
#seleccionar todos los campos de la tabla Customers
with engine.connect() as con:
    
    rs = con.execute('SELECT * FROM customers')
    
    for row in rs:
        print(row)
        
con.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)
(6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5)
(7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5)
(8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4)
(9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)
(11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', '+55 (11) 3055-3278', '+55 (11) 3055-8131', 'alero@uol.com.br', 5)
(12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', '+55 (21) 2271-7000', '+55 (21) 2271-7070', 'roberto.almeida@riotur.gov.br', 3)
(13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br', 4)
(14, 'Mark', 'Philips', 'Telus', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', '+1 (780) 434-4554', '+1 (780) 434-5565', 'mphilips12@shaw.ca', 5)
(15, 'Jennifer', 'Peterson', 'Rogers Canada', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', '+1 (604) 688-2255', '+1 (604) 688-8756', 'jenniferp@rogers.ca', 3)
(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4)
(17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5)
(18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3)
(19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3)
(20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4)
(21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5)
(22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4)
(23, 'John', 'Gordon', None, '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', None, 'johngordon22@yahoo.com', 4)
(24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3)
(25, 'Victor', 'Stevens', None, '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', None, 'vstevens@yahoo.com', 5)
(26, 'Richard', 'Cunningham', None, '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', '+1 (817) 924-7272', None, 'ricunningham@hotmail.com', 4)
(27, 'Patrick', 'Gray', None, '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', '+1 (520) 622-4200', None, 'patrick.gray@aol.com', 4)
(28, 'Julia', 'Barnett', None, '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', '+1 (801) 531-7272', None, 'jubarnett@gmail.com', 5)
(29, 'Robert', 'Brown', None, '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', '+1 (416) 363-8888', None, 'robbrown@shaw.ca', 3)
(30, 'Edward', 'Francis', None, '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', '+1 (613) 234-3322', None, 'edfrancis@yachoo.ca', 3)
(31, 'Martha', 'Silk', None, '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', '+1 (902) 450-0450', None, 'marthasilk@gmail.com', 5)
(32, 'Aaron', 'Mitchell', None, '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', '+1 (204) 452-6452', None, 'aaronmitchell@yahoo.ca', 4)
(33, 'Ellie', 'Sullivan', None, '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', '+1 (867) 920-2233', None, 'ellie.sullivan@shaw.ca', 3)
(34, 'João', 'Fernandes', None, 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, '+351 (213) 466-111', None, 'jfernandes@yahoo.pt', 4)
(35, 'Madalena', 'Sampaio', None, 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, '+351 (225) 022-448', None, 'masampaio@sapo.pt', 4)
(36, 'Hannah', 'Schneider', None, 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', '+49 030 26550280', None, 'hannah.schneider@yahoo.de', 5)
(37, 'Fynn', 'Zimmermann', None, 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', '+49 069 40598889', None, 'fzimmermann@yahoo.de', 3)
(38, 'Niklas', 'Schröder', None, 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', '+49 030 2141444', None, 'nschroder@surfeu.de', 3)
(39, 'Camille', 'Bernard', None, '4, Rue Milton', 'Paris', None, 'France', '75009', '+33 01 49 70 65 65', None, 'camille.bernard@yahoo.fr', 4)
(40, 'Dominique', 'Lefebvre', None, '8, Rue Hanovre', 'Paris', None, 'France', '75002', '+33 01 47 42 71 71', None, 'dominiquelefebvre@gmail.com', 4)
(41, 'Marc', 'Dubois', None, '11, Place Bellecour', 'Lyon', None, 'France', '69002', '+33 04 78 30 30 30', None, 'marc.dubois@hotmail.com', 5)
(42, 'Wyatt', 'Girard', None, '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', '+33 05 56 96 96 96', None, 'wyatt.girard@yahoo.fr', 3)
(43, 'Isabelle', 'Mercier', None, '68, Rue Jouvence', 'Dijon', None, 'France', '21000', '+33 03 80 73 66 99', None, 'isabelle_mercier@apple.fr', 3)
(44, 'Terhi', 'Hämäläinen', None, 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', '+358 09 870 2000', None, 'terhi.hamalainen@apple.fi', 3)
(45, 'Ladislav', 'Kovács', None, 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', None, None, 'ladislav_kovacs@apple.hu', 3)
(46, 'Hugh', "O'Reilly", None, '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, '+353 01 6792424', None, 'hughoreilly@apple.ie', 3)
(47, 'Lucas', 'Mancini', None, 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', '+39 06 39733434', None, 'lucas.mancini@yahoo.it', 5)
(48, 'Johannes', 'Van der Berg', None, 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', '+31 020 6223130', None, 'johavanderberg@yahoo.nl', 5)
(49, 'Stanisław', 'Wójcik', None, 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', '+48 22 828 37 39', None, 'stanisław.wójcik@wp.pl', 4)
(50, 'Enrique', 'Muñoz', None, 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', '+34 914 454 454', None, 'enrique_munoz@yahoo.es', 5)
(51, 'Joakim', 'Johansson', None, 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', '+46 08-651 52 52', None, 'joakim.johansson@yahoo.se', 5)
(52, 'Emma', 'Jones', None, '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', '+44 020 7707 0707', None, 'emma_jones@hotmail.com', 3)
(53, 'Phil', 'Hughes', None, '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', '+44 020 7976 5722', None, 'phil.hughes@gmail.com', 3)
(54, 'Steve', 'Murray', None, '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', '+44 0131 315 3300', None, 'steve.murray@yahoo.uk', 5)
(55, 'Mark', 'Taylor', None, '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', '+61 (02) 9332 3633', None, 'mark.taylor@yahoo.au', 4)
(56, 'Diego', 'Gutiérrez', None, '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', '+54 (0)11 4311 4333', None, 'diego.gutierrez@yahoo.ar', 4)
(57, 'Luis', 'Rojas', None, 'Calle Lira, 198', 'Santiago', None, 'Chile', None, '+56 (0)2 635 4444', None, 'luisrojas@yahoo.cl', 5)
(58, 'Manoj', 'Pareek', None, '12,Community Centre', 'Delhi', None, 'India', '110017', '+91 0124 39883988', None, 'manoj.pareek@rediff.com', 3)
(59, 'Puja', 'Srivastava', None, '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', '+91 080 22289999', None, 'puja_srivastava@yahoo.in', 3)

In [5]:
#Proporcione una consulta que muestre el total de la factura, el nombre del cliente, el país y el nombre del agente de ventas para todas las facturas y clientes.
#Dyllan Raza
with engine.connect() as con: 
    rs = con.execute("""select emp.firstname as 'Nombre Empleado', emp.Lastname as 'Apellido Empleado', cust.Firstname as 'Nombre Cliente', cust.Lastname as 'Apellido Cliente', cust.Country, inv.Total
from employees as emp
	join customers as cust on emp.employeeid = cust.supportrepid
	join invoices as inv on cust.customerid = inv.customerid""")
    
    for row in rs:
        print(row)
        
con.close()

('Jane', 'Peacock', 'Luís', 'Gonçalves', 'Brazil', 3.98)
('Jane', 'Peacock', 'Luís', 'Gonçalves', 'Brazil', 3.96)
('Jane', 'Peacock', 'Luís', 'Gonçalves', 'Brazil', 5.94)
('Jane', 'Peacock', 'Luís', 'Gonçalves', 'Brazil', 0.99)
('Jane', 'Peacock', 'Luís', 'Gonçalves', 'Brazil', 1.98)
('Jane', 'Peacock', 'Luís', 'Gonçalves', 'Brazil', 13.86)
('Jane', 'Peacock', 'Luís', 'Gonçalves', 'Brazil', 8.91)
('Steve', 'Johnson', 'Leonie', 'Köhler', 'Germany', 1.98)
('Steve', 'Johnson', 'Leonie', 'Köhler', 'Germany', 13.86)
('Steve', 'Johnson', 'Leonie', 'Köhler', 'Germany', 8.91)
('Steve', 'Johnson', 'Leonie', 'Köhler', 'Germany', 1.98)
('Steve', 'Johnson', 'Leonie', 'Köhler', 'Germany', 3.96)
('Steve', 'Johnson', 'Leonie', 'Köhler', 'Germany', 5.94)
('Steve', 'Johnson', 'Leonie', 'Köhler', 'Germany', 0.99)
('Jane', 'Peacock', 'François', 'Tremblay', 'Canada', 3.98)
('Jane', 'Peacock', 'François', 'Tremblay', 'Canada', 13.86)
('Jane', 'Peacock', 'François', 'Tremblay', 'Canada', 8.91)
('Jane', 'Peacock', 'François', 'Tremblay', 'Canada', 1.98)
('Jane', 'Peacock', 'François', 'Tremblay', 'Canada', 3.96)
('Jane', 'Peacock', 'François', 'Tremblay', 'Canada', 5.94)
('Jane', 'Peacock', 'François', 'Tremblay', 'Canada', 0.99)
('Margaret', 'Park', 'Bjørn', 'Hansen', 'Norway', 3.96)
('Margaret', 'Park', 'Bjørn', 'Hansen', 'Norway', 5.94)
('Margaret', 'Park', 'Bjørn', 'Hansen', 'Norway', 0.99)
('Margaret', 'Park', 'Bjørn', 'Hansen', 'Norway', 1.98)
('Margaret', 'Park', 'Bjørn', 'Hansen', 'Norway', 15.86)
('Margaret', 'Park', 'Bjørn', 'Hansen', 'Norway', 8.91)
('Margaret', 'Park', 'Bjørn', 'Hansen', 'Norway', 1.98)
('Margaret', 'Park', 'František', 'Wichterlová', 'Czech Republic', 1.98)
('Margaret', 'Park', 'František', 'Wichterlová', 'Czech Republic', 3.96)
('Margaret', 'Park', 'František', 'Wichterlová', 'Czech Republic', 5.94)
('Margaret', 'Park', 'František', 'Wichterlová', 'Czech Republic', 0.99)
('Margaret', 'Park', 'František', 'Wichterlová', 'Czech Republic', 1.98)
('Margaret', 'Park', 'František', 'Wichterlová', 'Czech Republic', 16.86)
('Margaret', 'Park', 'František', 'Wichterlová', 'Czech Republic', 8.91)
('Steve', 'Johnson', 'Helena', 'Holý', 'Czech Republic', 8.91)
('Steve', 'Johnson', 'Helena', 'Holý', 'Czech Republic', 1.98)
('Steve', 'Johnson', 'Helena', 'Holý', 'Czech Republic', 3.96)
('Steve', 'Johnson', 'Helena', 'Holý', 'Czech Republic', 5.94)
('Steve', 'Johnson', 'Helena', 'Holý', 'Czech Republic', 0.99)
('Steve', 'Johnson', 'Helena', 'Holý', 'Czech Republic', 1.98)
('Steve', 'Johnson', 'Helena', 'Holý', 'Czech Republic', 25.86)
('Steve', 'Johnson', 'Astrid', 'Gruber', 'Austria', 1.98)
('Steve', 'Johnson', 'Astrid', 'Gruber', 'Austria', 18.86)
('Steve', 'Johnson', 'Astrid', 'Gruber', 'Austria', 8.91)
('Steve', 'Johnson', 'Astrid', 'Gruber', 'Austria', 1.98)
('Steve', 'Johnson', 'Astrid', 'Gruber', 'Austria', 3.96)
('Steve', 'Johnson', 'Astrid', 'Gruber', 'Austria', 5.94)
('Steve', 'Johnson', 'Astrid', 'Gruber', 'Austria', 0.99)
('Margaret', 'Park', 'Daan', 'Peeters', 'Belgium', 5.94)
('Margaret', 'Park', 'Daan', 'Peeters', 'Belgium', 0.99)
('Margaret', 'Park', 'Daan', 'Peeters', 'Belgium', 1.98)
('Margaret', 'Park', 'Daan', 'Peeters', 'Belgium', 13.86)
('Margaret', 'Park', 'Daan', 'Peeters', 'Belgium', 8.91)
('Margaret', 'Park', 'Daan', 'Peeters', 'Belgium', 1.98)
('Margaret', 'Park', 'Daan', 'Peeters', 'Belgium', 3.96)
('Margaret', 'Park', 'Kara', 'Nielsen', 'Denmark', 1.98)
('Margaret', 'Park', 'Kara', 'Nielsen', 'Denmark', 3.96)
('Margaret', 'Park', 'Kara', 'Nielsen', 'Denmark', 5.94)
('Margaret', 'Park', 'Kara', 'Nielsen', 'Denmark', 0.99)
('Margaret', 'Park', 'Kara', 'Nielsen', 'Denmark', 1.98)
('Margaret', 'Park', 'Kara', 'Nielsen', 'Denmark', 13.86)
('Margaret', 'Park', 'Kara', 'Nielsen', 'Denmark', 8.91)
('Margaret', 'Park', 'Eduardo', 'Martins', 'Brazil', 8.91)
('Margaret', 'Park', 'Eduardo', 'Martins', 'Brazil', 1.98)
('Margaret', 'Park', 'Eduardo', 'Martins', 'Brazil', 3.96)
('Margaret', 'Park', 'Eduardo', 'Martins', 'Brazil', 5.94)
('Margaret', 'Park', 'Eduardo', 'Martins', 'Brazil', 0.99)
('Margaret', 'Park', 'Eduardo', 'Martins', 'Brazil', 1.98)
('Margaret', 'Park', 'Eduardo', 'Martins', 'Brazil', 13.86)
('Steve', 'Johnson', 'Alexandre', 'Rocha', 'Brazil', 1.98)
('Steve', 'Johnson', 'Alexandre', 'Rocha', 'Brazil', 13.86)
('Steve', 'Johnson', 'Alexandre', 'Rocha', 'Brazil', 8.91)
('Steve', 'Johnson', 'Alexandre', 'Rocha', 'Brazil', 1.98)
('Steve', 'Johnson', 'Alexandre', 'Rocha', 'Brazil', 3.96)
('Steve', 'Johnson', 'Alexandre', 'Rocha', 'Brazil', 5.94)
('Steve', 'Johnson', 'Alexandre', 'Rocha', 'Brazil', 0.99)
('Jane', 'Peacock', 'Roberto', 'Almeida', 'Brazil', 0.99)
('Jane', 'Peacock', 'Roberto', 'Almeida', 'Brazil', 1.98)
('Jane', 'Peacock', 'Roberto', 'Almeida', 'Brazil', 13.86)
('Jane', 'Peacock', 'Roberto', 'Almeida', 'Brazil', 8.91)
('Jane', 'Peacock', 'Roberto', 'Almeida', 'Brazil', 1.98)
('Jane', 'Peacock', 'Roberto', 'Almeida', 'Brazil', 3.96)
('Jane', 'Peacock', 'Roberto', 'Almeida', 'Brazil', 5.94)
('Margaret', 'Park', 'Fernanda', 'Ramos', 'Brazil', 1.98)
('Margaret', 'Park', 'Fernanda', 'Ramos', 'Brazil', 3.96)
('Margaret', 'Park', 'Fernanda', 'Ramos', 'Brazil', 5.94)
('Margaret', 'Park', 'Fernanda', 'Ramos', 'Brazil', 0.99)
('Margaret', 'Park', 'Fernanda', 'Ramos', 'Brazil', 1.98)
('Margaret', 'Park', 'Fernanda', 'Ramos', 'Brazil', 13.86)
('Margaret', 'Park', 'Fernanda', 'Ramos', 'Brazil', 8.91)
('Steve', 'Johnson', 'Mark', 'Philips', 'Canada', 8.91)
('Steve', 'Johnson', 'Mark', 'Philips', 'Canada', 1.98)
('Steve', 'Johnson', 'Mark', 'Philips', 'Canada', 3.96)
('Steve', 'Johnson', 'Mark', 'Philips', 'Canada', 5.94)
('Steve', 'Johnson', 'Mark', 'Philips', 'Canada', 0.99)
('Steve', 'Johnson', 'Mark', 'Philips', 'Canada', 1.98)
('Steve', 'Johnson', 'Mark', 'Philips', 'Canada', 13.86)
('Jane', 'Peacock', 'Jennifer', 'Peterson', 'Canada', 1.98)
('Jane', 'Peacock', 'Jennifer', 'Peterson', 'Canada', 13.86)
('Jane', 'Peacock', 'Jennifer', 'Peterson', 'Canada', 9.91)
('Jane', 'Peacock', 'Jennifer', 'Peterson', 'Canada', 1.98)
('Jane', 'Peacock', 'Jennifer', 'Peterson', 'Canada', 3.96)
('Jane', 'Peacock', 'Jennifer', 'Peterson', 'Canada', 5.94)
('Jane', 'Peacock', 'Jennifer', 'Peterson', 'Canada', 0.99)
('Margaret', 'Park', 'Frank', 'Harris', 'USA', 0.99)
('Margaret', 'Park', 'Frank', 'Harris', 'USA', 1.98)
('Margaret', 'Park', 'Frank', 'Harris', 'USA', 13.86)
('Margaret', 'Park', 'Frank', 'Harris', 'USA', 8.91)
('Margaret', 'Park', 'Frank', 'Harris', 'USA', 1.98)
('Margaret', 'Park', 'Frank', 'Harris', 'USA', 3.96)
('Margaret', 'Park', 'Frank', 'Harris', 'USA', 5.94)
('Steve', 'Johnson', 'Jack', 'Smith', 'USA', 1.98)
('Steve', 'Johnson', 'Jack', 'Smith', 'USA', 3.96)
('Steve', 'Johnson', 'Jack', 'Smith', 'USA', 5.94)
('Steve', 'Johnson', 'Jack', 'Smith', 'USA', 0.99)
('Steve', 'Johnson', 'Jack', 'Smith', 'USA', 1.98)
('Steve', 'Johnson', 'Jack', 'Smith', 'USA', 13.86)
('Steve', 'Johnson', 'Jack', 'Smith', 'USA', 10.91)
('Jane', 'Peacock', 'Michelle', 'Brooks', 'USA', 1.98)
('Jane', 'Peacock', 'Michelle', 'Brooks', 'USA', 3.96)
('Jane', 'Peacock', 'Michelle', 'Brooks', 'USA', 5.94)
('Jane', 'Peacock', 'Michelle', 'Brooks', 'USA', 0.99)
('Jane', 'Peacock', 'Michelle', 'Brooks', 'USA', 1.98)
('Jane', 'Peacock', 'Michelle', 'Brooks', 'USA', 13.86)
('Jane', 'Peacock', 'Michelle', 'Brooks', 'USA', 8.91)
('Jane', 'Peacock', 'Tim', 'Goyer', 'USA', 1.98)
('Jane', 'Peacock', 'Tim', 'Goyer', 'USA', 13.86)
('Jane', 'Peacock', 'Tim', 'Goyer', 'USA', 8.91)
('Jane', 'Peacock', 'Tim', 'Goyer', 'USA', 1.98)
('Jane', 'Peacock', 'Tim', 'Goyer', 'USA', 3.96)
('Jane', 'Peacock', 'Tim', 'Goyer', 'USA', 5.94)
('Jane', 'Peacock', 'Tim', 'Goyer', 'USA', 1.99)
('Margaret', 'Park', 'Dan', 'Miller', 'USA', 1.98)
('Margaret', 'Park', 'Dan', 'Miller', 'USA', 13.86)
('Margaret', 'Park', 'Dan', 'Miller', 'USA', 8.91)
('Margaret', 'Park', 'Dan', 'Miller', 'USA', 3.98)
('Margaret', 'Park', 'Dan', 'Miller', 'USA', 3.96)
('Margaret', 'Park', 'Dan', 'Miller', 'USA', 5.94)
('Margaret', 'Park', 'Dan', 'Miller', 'USA', 0.99)
('Steve', 'Johnson', 'Kathy', 'Chase', 'USA', 3.96)
('Steve', 'Johnson', 'Kathy', 'Chase', 'USA', 5.94)
('Steve', 'Johnson', 'Kathy', 'Chase', 'USA', 0.99)
('Steve', 'Johnson', 'Kathy', 'Chase', 'USA', 1.98)
('Steve', 'Johnson', 'Kathy', 'Chase', 'USA', 13.86)
('Steve', 'Johnson', 'Kathy', 'Chase', 'USA', 8.91)
('Steve', 'Johnson', 'Kathy', 'Chase', 'USA', 1.98)
('Margaret', 'Park', 'Heather', 'Leacock', 'USA', 1.98)
('Margaret', 'Park', 'Heather', 'Leacock', 'USA', 3.96)
('Margaret', 'Park', 'Heather', 'Leacock', 'USA', 5.94)
('Margaret', 'Park', 'Heather', 'Leacock', 'USA', 0.99)
('Margaret', 'Park', 'Heather', 'Leacock', 'USA', 3.98)
('Margaret', 'Park', 'Heather', 'Leacock', 'USA', 13.86)
('Margaret', 'Park', 'Heather', 'Leacock', 'USA', 8.91)
('Margaret', 'Park', 'John', 'Gordon', 'USA', 13.86)
('Margaret', 'Park', 'John', 'Gordon', 'USA', 8.91)
('Margaret', 'Park', 'John', 'Gordon', 'USA', 1.98)
('Margaret', 'Park', 'John', 'Gordon', 'USA', 3.96)
('Margaret', 'Park', 'John', 'Gordon', 'USA', 5.94)
('Margaret', 'Park', 'John', 'Gordon', 'USA', 0.99)
('Margaret', 'Park', 'John', 'Gordon', 'USA', 1.98)
('Jane', 'Peacock', 'Frank', 'Ralston', 'USA', 1.98)
('Jane', 'Peacock', 'Frank', 'Ralston', 'USA', 15.86)
('Jane', 'Peacock', 'Frank', 'Ralston', 'USA', 8.91)
('Jane', 'Peacock', 'Frank', 'Ralston', 'USA', 1.98)
('Jane', 'Peacock', 'Frank', 'Ralston', 'USA', 7.96)
('Jane', 'Peacock', 'Frank', 'Ralston', 'USA', 5.94)
('Jane', 'Peacock', 'Frank', 'Ralston', 'USA', 0.99)
('Steve', 'Johnson', 'Victor', 'Stevens', 'USA', 5.94)
('Steve', 'Johnson', 'Victor', 'Stevens', 'USA', 0.99)
('Steve', 'Johnson', 'Victor', 'Stevens', 'USA', 1.98)
('Steve', 'Johnson', 'Victor', 'Stevens', 'USA', 18.86)
('Steve', 'Johnson', 'Victor', 'Stevens', 'USA', 8.91)
('Steve', 'Johnson', 'Victor', 'Stevens', 'USA', 1.98)
('Steve', 'Johnson', 'Victor', 'Stevens', 'USA', 3.96)
('Margaret', 'Park', 'Richard', 'Cunningham', 'USA', 1.98)
('Margaret', 'Park', 'Richard', 'Cunningham', 'USA', 3.96)
('Margaret', 'Park', 'Richard', 'Cunningham', 'USA', 5.94)
('Margaret', 'Park', 'Richard', 'Cunningham', 'USA', 0.99)
('Margaret', 'Park', 'Richard', 'Cunningham', 'USA', 1.98)
('Margaret', 'Park', 'Richard', 'Cunningham', 'USA', 23.86)
('Margaret', 'Park', 'Richard', 'Cunningham', 'USA', 8.91)
('Margaret', 'Park', 'Patrick', 'Gray', 'USA', 8.91)
('Margaret', 'Park', 'Patrick', 'Gray', 'USA', 1.98)
('Margaret', 'Park', 'Patrick', 'Gray', 'USA', 3.96)
('Margaret', 'Park', 'Patrick', 'Gray', 'USA', 5.94)
('Margaret', 'Park', 'Patrick', 'Gray', 'USA', 0.99)
('Margaret', 'Park', 'Patrick', 'Gray', 'USA', 1.98)
('Margaret', 'Park', 'Patrick', 'Gray', 'USA', 13.86)
('Steve', 'Johnson', 'Julia', 'Barnett', 'USA', 1.98)
('Steve', 'Johnson', 'Julia', 'Barnett', 'USA', 13.86)
('Steve', 'Johnson', 'Julia', 'Barnett', 'USA', 8.91)
('Steve', 'Johnson', 'Julia', 'Barnett', 'USA', 1.98)
('Steve', 'Johnson', 'Julia', 'Barnett', 'USA', 3.96)
('Steve', 'Johnson', 'Julia', 'Barnett', 'USA', 11.94)
('Steve', 'Johnson', 'Julia', 'Barnett', 'USA', 0.99)
('Jane', 'Peacock', 'Robert', 'Brown', 'Canada', 0.99)
('Jane', 'Peacock', 'Robert', 'Brown', 'Canada', 1.98)
('Jane', 'Peacock', 'Robert', 'Brown', 'Canada', 13.86)
('Jane', 'Peacock', 'Robert', 'Brown', 'Canada', 8.91)
('Jane', 'Peacock', 'Robert', 'Brown', 'Canada', 1.98)
('Jane', 'Peacock', 'Robert', 'Brown', 'Canada', 3.96)
('Jane', 'Peacock', 'Robert', 'Brown', 'Canada', 5.94)
('Jane', 'Peacock', 'Edward', 'Francis', 'Canada', 1.98)
('Jane', 'Peacock', 'Edward', 'Francis', 'Canada', 3.96)
('Jane', 'Peacock', 'Edward', 'Francis', 'Canada', 5.94)
('Jane', 'Peacock', 'Edward', 'Francis', 'Canada', 0.99)
('Jane', 'Peacock', 'Edward', 'Francis', 'Canada', 1.98)
('Jane', 'Peacock', 'Edward', 'Francis', 'Canada', 13.86)
('Jane', 'Peacock', 'Edward', 'Francis', 'Canada', 8.91)
('Steve', 'Johnson', 'Martha', 'Silk', 'Canada', 8.91)
('Steve', 'Johnson', 'Martha', 'Silk', 'Canada', 1.98)
('Steve', 'Johnson', 'Martha', 'Silk', 'Canada', 3.96)
('Steve', 'Johnson', 'Martha', 'Silk', 'Canada', 5.94)
('Steve', 'Johnson', 'Martha', 'Silk', 'Canada', 0.99)
('Steve', 'Johnson', 'Martha', 'Silk', 'Canada', 1.98)
('Steve', 'Johnson', 'Martha', 'Silk', 'Canada', 13.86)
('Margaret', 'Park', 'Aaron', 'Mitchell', 'Canada', 1.98)
('Margaret', 'Park', 'Aaron', 'Mitchell', 'Canada', 13.86)
('Margaret', 'Park', 'Aaron', 'Mitchell', 'Canada', 8.91)
('Margaret', 'Park', 'Aaron', 'Mitchell', 'Canada', 1.98)
('Margaret', 'Park', 'Aaron', 'Mitchell', 'Canada', 3.96)
('Margaret', 'Park', 'Aaron', 'Mitchell', 'Canada', 5.94)
('Margaret', 'Park', 'Aaron', 'Mitchell', 'Canada', 0.99)
('Jane', 'Peacock', 'Ellie', 'Sullivan', 'Canada', 0.99)
('Jane', 'Peacock', 'Ellie', 'Sullivan', 'Canada', 1.98)
('Jane', 'Peacock', 'Ellie', 'Sullivan', 'Canada', 13.86)
('Jane', 'Peacock', 'Ellie', 'Sullivan', 'Canada', 8.91)
('Jane', 'Peacock', 'Ellie', 'Sullivan', 'Canada', 1.98)
('Jane', 'Peacock', 'Ellie', 'Sullivan', 'Canada', 3.96)
('Jane', 'Peacock', 'Ellie', 'Sullivan', 'Canada', 5.94)
('Margaret', 'Park', 'João', 'Fernandes', 'Portugal', 1.98)
('Margaret', 'Park', 'João', 'Fernandes', 'Portugal', 3.96)
('Margaret', 'Park', 'João', 'Fernandes', 'Portugal', 5.94)
('Margaret', 'Park', 'João', 'Fernandes', 'Portugal', 0.99)
('Margaret', 'Park', 'João', 'Fernandes', 'Portugal', 1.98)
('Margaret', 'Park', 'João', 'Fernandes', 'Portugal', 13.86)
('Margaret', 'Park', 'João', 'Fernandes', 'Portugal', 10.91)
('Margaret', 'Park', 'Madalena', 'Sampaio', 'Portugal', 1.98)
('Margaret', 'Park', 'Madalena', 'Sampaio', 'Portugal', 3.96)
('Margaret', 'Park', 'Madalena', 'Sampaio', 'Portugal', 5.94)
('Margaret', 'Park', 'Madalena', 'Sampaio', 'Portugal', 0.99)
('Margaret', 'Park', 'Madalena', 'Sampaio', 'Portugal', 1.98)
('Margaret', 'Park', 'Madalena', 'Sampaio', 'Portugal', 13.86)
('Margaret', 'Park', 'Madalena', 'Sampaio', 'Portugal', 8.91)
('Steve', 'Johnson', 'Hannah', 'Schneider', 'Germany', 1.98)
('Steve', 'Johnson', 'Hannah', 'Schneider', 'Germany', 13.86)
('Steve', 'Johnson', 'Hannah', 'Schneider', 'Germany', 8.91)
('Steve', 'Johnson', 'Hannah', 'Schneider', 'Germany', 1.98)
('Steve', 'Johnson', 'Hannah', 'Schneider', 'Germany', 3.96)
('Steve', 'Johnson', 'Hannah', 'Schneider', 'Germany', 5.94)
('Steve', 'Johnson', 'Hannah', 'Schneider', 'Germany', 0.99)
('Jane', 'Peacock', 'Fynn', 'Zimmermann', 'Germany', 0.99)
('Jane', 'Peacock', 'Fynn', 'Zimmermann', 'Germany', 1.98)
('Jane', 'Peacock', 'Fynn', 'Zimmermann', 'Germany', 13.86)
('Jane', 'Peacock', 'Fynn', 'Zimmermann', 'Germany', 14.91)
('Jane', 'Peacock', 'Fynn', 'Zimmermann', 'Germany', 1.98)
('Jane', 'Peacock', 'Fynn', 'Zimmermann', 'Germany', 3.96)
('Jane', 'Peacock', 'Fynn', 'Zimmermann', 'Germany', 5.94)
('Jane', 'Peacock', 'Niklas', 'Schröder', 'Germany', 1.98)
('Jane', 'Peacock', 'Niklas', 'Schröder', 'Germany', 3.96)
('Jane', 'Peacock', 'Niklas', 'Schröder', 'Germany', 5.94)
('Jane', 'Peacock', 'Niklas', 'Schröder', 'Germany', 0.99)
('Jane', 'Peacock', 'Niklas', 'Schröder', 'Germany', 1.98)
('Jane', 'Peacock', 'Niklas', 'Schröder', 'Germany', 13.86)
('Jane', 'Peacock', 'Niklas', 'Schröder', 'Germany', 8.91)
('Margaret', 'Park', 'Camille', 'Bernard', 'France', 1.98)
('Margaret', 'Park', 'Camille', 'Bernard', 'France', 3.96)
('Margaret', 'Park', 'Camille', 'Bernard', 'France', 5.94)
('Margaret', 'Park', 'Camille', 'Bernard', 'France', 1.99)
('Margaret', 'Park', 'Camille', 'Bernard', 'France', 1.98)
('Margaret', 'Park', 'Camille', 'Bernard', 'France', 13.86)
('Margaret', 'Park', 'Camille', 'Bernard', 'France', 8.91)
('Margaret', 'Park', 'Dominique', 'Lefebvre', 'France', 1.98)
('Margaret', 'Park', 'Dominique', 'Lefebvre', 'France', 13.86)
('Margaret', 'Park', 'Dominique', 'Lefebvre', 'France', 8.91)
('Margaret', 'Park', 'Dominique', 'Lefebvre', 'France', 2.98)
('Margaret', 'Park', 'Dominique', 'Lefebvre', 'France', 3.96)
('Margaret', 'Park', 'Dominique', 'Lefebvre', 'France', 5.94)
('Margaret', 'Park', 'Dominique', 'Lefebvre', 'France', 0.99)
('Steve', 'Johnson', 'Marc', 'Dubois', 'France', 1.98)
('Steve', 'Johnson', 'Marc', 'Dubois', 'France', 13.86)
('Steve', 'Johnson', 'Marc', 'Dubois', 'France', 8.91)
('Steve', 'Johnson', 'Marc', 'Dubois', 'France', 1.98)
('Steve', 'Johnson', 'Marc', 'Dubois', 'France', 3.96)
('Steve', 'Johnson', 'Marc', 'Dubois', 'France', 5.94)
('Steve', 'Johnson', 'Marc', 'Dubois', 'France', 0.99)
('Jane', 'Peacock', 'Wyatt', 'Girard', 'France', 3.96)
('Jane', 'Peacock', 'Wyatt', 'Girard', 'France', 5.94)
('Jane', 'Peacock', 'Wyatt', 'Girard', 'France', 0.99)
('Jane', 'Peacock', 'Wyatt', 'Girard', 'France', 3.98)
('Jane', 'Peacock', 'Wyatt', 'Girard', 'France', 13.86)
('Jane', 'Peacock', 'Wyatt', 'Girard', 'France', 8.91)
('Jane', 'Peacock', 'Wyatt', 'Girard', 'France', 1.98)
('Jane', 'Peacock', 'Isabelle', 'Mercier', 'France', 1.98)
('Jane', 'Peacock', 'Isabelle', 'Mercier', 'France', 3.96)
('Jane', 'Peacock', 'Isabelle', 'Mercier', 'France', 5.94)
('Jane', 'Peacock', 'Isabelle', 'Mercier', 'France', 0.99)
('Jane', 'Peacock', 'Isabelle', 'Mercier', 'France', 1.98)
('Jane', 'Peacock', 'Isabelle', 'Mercier', 'France', 16.86)
('Jane', 'Peacock', 'Isabelle', 'Mercier', 'France', 8.91)
('Jane', 'Peacock', 'Terhi', 'Hämäläinen', 'Finland', 8.91)
('Jane', 'Peacock', 'Terhi', 'Hämäläinen', 'Finland', 1.98)
('Jane', 'Peacock', 'Terhi', 'Hämäläinen', 'Finland', 7.96)
('Jane', 'Peacock', 'Terhi', 'Hämäläinen', 'Finland', 5.94)
('Jane', 'Peacock', 'Terhi', 'Hämäläinen', 'Finland', 0.99)
('Jane', 'Peacock', 'Terhi', 'Hämäläinen', 'Finland', 1.98)
('Jane', 'Peacock', 'Terhi', 'Hämäläinen', 'Finland', 13.86)
('Jane', 'Peacock', 'Ladislav', 'Kovács', 'Hungary', 1.98)
('Jane', 'Peacock', 'Ladislav', 'Kovács', 'Hungary', 21.86)
('Jane', 'Peacock', 'Ladislav', 'Kovács', 'Hungary', 8.91)
('Jane', 'Peacock', 'Ladislav', 'Kovács', 'Hungary', 1.98)
('Jane', 'Peacock', 'Ladislav', 'Kovács', 'Hungary', 3.96)
('Jane', 'Peacock', 'Ladislav', 'Kovács', 'Hungary', 5.94)
('Jane', 'Peacock', 'Ladislav', 'Kovács', 'Hungary', 0.99)
('Jane', 'Peacock', 'Hugh', "O'Reilly", 'Ireland', 5.94)
('Jane', 'Peacock', 'Hugh', "O'Reilly", 'Ireland', 0.99)
('Jane', 'Peacock', 'Hugh', "O'Reilly", 'Ireland', 1.98)
('Jane', 'Peacock', 'Hugh', "O'Reilly", 'Ireland', 21.86)
('Jane', 'Peacock', 'Hugh', "O'Reilly", 'Ireland', 8.91)
('Jane', 'Peacock', 'Hugh', "O'Reilly", 'Ireland', 1.98)
('Jane', 'Peacock', 'Hugh', "O'Reilly", 'Ireland', 3.96)
('Steve', 'Johnson', 'Lucas', 'Mancini', 'Italy', 1.98)
('Steve', 'Johnson', 'Lucas', 'Mancini', 'Italy', 3.96)
('Steve', 'Johnson', 'Lucas', 'Mancini', 'Italy', 5.94)
('Steve', 'Johnson', 'Lucas', 'Mancini', 'Italy', 0.99)
('Steve', 'Johnson', 'Lucas', 'Mancini', 'Italy', 1.98)
('Steve', 'Johnson', 'Lucas', 'Mancini', 'Italy', 13.86)
('Steve', 'Johnson', 'Lucas', 'Mancini', 'Italy', 8.91)
('Steve', 'Johnson', 'Johannes', 'Van der Berg', 'Netherlands', 8.91)
('Steve', 'Johnson', 'Johannes', 'Van der Berg', 'Netherlands', 1.98)
('Steve', 'Johnson', 'Johannes', 'Van der Berg', 'Netherlands', 3.96)
('Steve', 'Johnson', 'Johannes', 'Van der Berg', 'Netherlands', 8.94)
('Steve', 'Johnson', 'Johannes', 'Van der Berg', 'Netherlands', 0.99)
('Steve', 'Johnson', 'Johannes', 'Van der Berg', 'Netherlands', 1.98)
('Steve', 'Johnson', 'Johannes', 'Van der Berg', 'Netherlands', 13.86)
('Margaret', 'Park', 'Stanisław', 'Wójcik', 'Poland', 1.98)
('Margaret', 'Park', 'Stanisław', 'Wójcik', 'Poland', 13.86)
('Margaret', 'Park', 'Stanisław', 'Wójcik', 'Poland', 8.91)
('Margaret', 'Park', 'Stanisław', 'Wójcik', 'Poland', 1.98)
('Margaret', 'Park', 'Stanisław', 'Wójcik', 'Poland', 3.96)
('Margaret', 'Park', 'Stanisław', 'Wójcik', 'Poland', 5.94)
('Margaret', 'Park', 'Stanisław', 'Wójcik', 'Poland', 0.99)
('Steve', 'Johnson', 'Enrique', 'Muñoz', 'Spain', 0.99)
('Steve', 'Johnson', 'Enrique', 'Muñoz', 'Spain', 1.98)
('Steve', 'Johnson', 'Enrique', 'Muñoz', 'Spain', 13.86)
('Steve', 'Johnson', 'Enrique', 'Muñoz', 'Spain', 8.91)

# Load

In [11]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe 1
import pandas as pd
df = pd.read_sql_query("""select playlists.Name as Playlist, artists.Name as Artista, tracks.bytes as Bytes, albums.Title as Nombre_Album, media_types.Name as Formato, genres.Name as Genero 
From playlist_track
inner join artists on albums.ArtistId = artists.ArtistId
inner join albums on tracks.AlbumId = albums.AlbumId
inner join media_types on tracks.MediaTypeId = media_types.MediaTypeId
inner join genres on tracks.GenreId = genres.GenreId
inner join tracks on playlist_track.TrackId = tracks.TrackId
inner join playlists on playlist_track.PlaylistId = playlists.PlaylistId 
where tracks.Bytes > 7000000
Order By artists.Name;
    
    """, con=engine.connect())

df.head()

,Playlist,Artista,Bytes,Nombre_Album,Formato,Genero
0,Music,AC/DC,11170334,For Those About To Rock We Salute You,MPEG audio file,Rock
1,Music,AC/DC,11170334,For Those About To Rock We Salute You,MPEG audio file,Rock
2,Heavy Metal Classic,AC/DC,11170334,For Those About To Rock We Salute You,MPEG audio file,Rock
3,Music,AC/DC,7636561,For Those About To Rock We Salute You,MPEG audio file,Rock
4,Music,AC/DC,7636561,For Those About To Rock We Salute You,MPEG audio file,Rock

In [ ]:
#Exportar el archivo en un formato a su elección.
df.to_csv('dataframe_Raza_Zambrano1.csv')

In [13]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe 2
import pandas as pd
df = pd.read_sql_query("""SELECT C.CUSTOMERID,
C.FIRSTNAME || ' ' || C.LASTNAME AS CUSTOMER,
AR.NAME AS ARTIST,
SUM(IL.UNITPRICE) AS PRICE,
G.NAME AS TYPE
FROM CUSTOMERS C
JOIN INVOICES I ON C.CUSTOMERID = I.CUSTOMERID
JOIN INVOICE_ITEMS IL ON I.INVOICEID = IL.INVOICEID
JOIN TRACKS T ON IL.TRACKID = T.TRACKID
JOIN GENRES G ON G.GENREID = T.GENREID
JOIN ALBUMS AL ON T.ALBUMID = AL.ALBUMID
JOIN ARTISTS AR ON AL.ARTISTID = AR.ARTISTID
WHERE AR.NAME = 'AC/DC'
AND TYPE LIKE "ROCK"
GROUP BY 1,2,3
HAVING PRICE > 2
ORDER BY 4 DESC
LIMIT 3;
    
    """, con=engine.connect())

df.head()

   CustomerId        CUSTOMER ARTIST  PRICE  TYPE
0           4    Bjørn Hansen  AC/DC   3.96  Rock
1          13  Fernanda Ramos  AC/DC   2.97  Rock
2          33  Ellie Sullivan  AC/DC   2.97  Rock

In [14]:
#Exportar el archivo en un formato a su elección.
df.to_csv('dataframe_Raza_Zambrano2.csv')

In [15]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe 2
import pandas as pd
df = pd.read_sql_query("""select customers.FirstName as Cliente, tracks.Name as Canción, albums.Title as Album, media_types.Name as Formato, genres.Name as Genero, invoices.BillingCity as Ciudad, Count(Quantity) as Cantidad
from invoice_items
inner join customers on invoices.CustomerId = customers.CustomerId 
inner join invoices on invoice_items.InvoiceId = invoices.InvoiceId
inner join tracks on invoice_items.TrackId = tracks.TrackId
inner join albums on tracks.AlbumId = albums.AlbumId
inner join media_types on tracks.MediaTypeId = media_types.MediaTypeId
inner join genres on tracks.GenreId = genres.GenreId
group by customers.FirstName
Having  genres.Name = "Metal";
    
    """, con=engine.connect())

df.head()

,Cliente,Canción,Album,Formato,Genero,Ciudad,Cantidad
0,Alexandre,Leper Messiah,Master Of Puppets,MPEG audio file,Metal,São Paulo,38
1,Astrid,Soldier Side - Intro,Mezmerize,MPEG audio file,Metal,Vienne,38
2,Enrique,Hallowed Be Thy Name,The Number of The Beast,MPEG audio file,Metal,Madrid,38
3,Joakim,Invaders,The Number of The Beast,MPEG audio file,Metal,Stockholm,38
4,Kara,The Thing That Should Not Be,Master Of Puppets,MPEG audio file,Metal,Copenhagen,38

In [16]:
#Exportar el archivo en un formato a su elección.
df.to_csv('dataframe_Raza_Zambrano3.csv')